@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("./fonts/IntegralCF/Fontspring-DEMO-integralcf-medium.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "IntegralCF";
  src: url("./fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("./fonts/IntegralCF/Fontspring-DEMO-integralcf-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

:root {
  --gray-primary: #f2f0f1;
  --gray-secundary: #f0f0f0;
  --gray-border: #bfbfbf;
  --gray-text: #616060;
}

@theme {
  --font-family-satoshi: "Satoshi", sans-serif;
  --font-family-satoshi-medium: "Satoshi", sans-serif;
  --font-family-satoshi-regular: "Satoshi", sans-serif;
  --font-family-integral: "IntegralCF", sans-serif;
  --font-family-integral-medium: "IntegralCF", sans-serif;
  --font-family-integral-bold: "IntegralCF", sans-serif;
  --font-family-integral-regular: "IntegralCF", sans-serif;

  /* Colors */
  --color-gray-primary: var(--gray-primary);
  --color-gray-secundary: var(--gray-secundary);
  --color-gray-text: var(--gray-text);
  --color-gray-border: var(--gray-border);

  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-20: 20px;
}

/* Classes utilitárias */

body {
  background-color: var(--gray-primary);
}

.font-satoshi {
  font-family: var(--font-family-satoshi);
}

.font-satoshi-medium {
  font-family: var(--font-family-satoshi-medium);
  font-weight: 500;
}

.font-satoshi-regular {
  font-family: var(--font-family-satoshi-regular);
  font-weight: 400;
}

.font-integral {
  font-family: var(--font-family-integral);
}

.font-integral-medium {
  font-family: var(--font-family-integral-medium);
  font-weight: 700;
}

.font-integral-bold {
  font-family: var(--font-family-integral-bold);
  font-weight: 800;
}

.font-integral-regular {
  font-family: var(--font-family-integral-regular);
  font-weight: 400;
}

.linear-bg {
  background: linear-gradient(to bottom, white 50%, var(--gray-primary) 50%);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}