@tailwind utilities;

/* Satoshi Font */
@font-face {
  font-family: 'Satoshi'; /* Nome único para a família */
  src: url('./fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi'; /* Mesmo nome para diferentes pesos */
  src: url('./fonts/Satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal; /* 'regular' não é válido, use 'normal' */
}

/* IntegralCF Font */
@font-face {
  font-family: 'IntegralCF'; /* Nome único para a família */
  src: url('./fonts/IntegralCF/Fontspring-DEMO-integralcf-medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF';
  src: url('./fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal; /* 'bold' não é válido para font-style */
}

@font-face {
  font-family: 'IntegralCF';
  src: url('./fonts/IntegralCF/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Configuração do tema */
@theme {
  --font-family-satoshi: "Satoshi", sans-serif;
  --font-family-satoshi-medium: "Satoshi", sans-serif;
  --font-family-satoshi-regular: "Satoshi", sans-serif;
  --font-family-integral: "IntegralCF", sans-serif;
  --font-family-integral-medium: "IntegralCF", sans-serif;
  --font-family-integral-bold: "IntegralCF", sans-serif;
  --font-family-integral-regular: "IntegralCF", sans-serif;
}

/* Classes utilitárias */
.font-satoshi {
  font-family: var(--font-family-satoshi);
}

.font-satoshi-medium {
  font-family: var(--font-family-satoshi-medium);
  font-weight: 500;
}

.font-satoshi-regular {
  font-family: var(--font-family-satoshi-regular);
  font-weight: 400;
}

.font-integral {
  font-family: var(--font-family-integral);
}

.font-integral-medium {
  font-family: var(--font-family-integral-medium);
  font-weight: 700;
}

.font-integral-bold {
  font-family: var(--font-family-integral-bold);
  font-weight: 800;
}

.font-integral-regular {
  font-family: var(--font-family-integral-regular);
  font-weight: 400;
}